In [1]:
import mysql.connector
import pandas as pd
import numpy as np
myconn=mysql.connector.connect(host="cpanel.insaid.co",user='student',passwd='student',database='Capstone1')
cur=myconn.cursor(buffered=True)
#cur.execute("select * from gender_age_train")
#for i in cur:
 #   print(i)

In [14]:
query1="select * from gender_age_train"
query2="select * from phone_brand_device_model "

In [15]:
df = pd.read_sql(query1, myconn)
df_phone_brand=pd.read_sql(query2,myconn)

In [2]:
df_events=pd.read_csv(r'C:/Users/User/Downloads/events_data (1).csv')

In [28]:
df_events_copy=pd.read_csv(r'C:/Users/User/Downloads/events_data (1).csv')

In [3]:
df_events.isnull().sum()

event_id       0
device_id    453
timestamp      0
longitude    423
latitude     423
city           0
state        377
dtype: int64

In [115]:
Null_values=pd.isnull(df_events['state'])
df_events[Null_values]['city'].value_counts()

Delhi            64
Pune             63
Indore           51
Jaipur           49
Visakhapatnam    47
Chennai          47
Gangarampur      26
Arambagh         16
Channapatna      14
Name: city, dtype: int64

In [37]:
df_events.state.value_counts()

Delhi                       751733
Maharashtra                 677105
TamilNadu                   436282
AndhraPradesh               321332
MadhyaPradesh               232690
Rajasthan                   196361
WestBengal                  196161
Karnataka                    99058
UttarPradesh                 94750
Gujarat                      42881
Bihar                        35472
Punjab                       26195
Kerala                       23148
Haryana                      21053
Jharkhand                    18060
Orissa                       15904
Telangana                    12784
Assam                        12021
Chhattisgarh                  9754
Uttaranchal                   7720
JammuandKashmir               5385
Goa                           3250
Nagaland                      2298
Pondicherry                   1741
Mizoram                       1613
AndamanandNicobarIslands      1515
Meghalaya                     1515
HimachalPradesh               1409
Manipur                        989
Chandigarh                     894
Tripura                        892
ArunachalPradesh               608
Name: state, dtype: int64

In [4]:
dict_state={'Delhi':'Delhi','Pune':'Maharashtra','Indore':'MadhyaPradesh','Jaipur':'Rajasthan','Visakhapatnam':'AndhraPradesh',
           'Chennai':'TamilNadu','Gangarampur':'WestBengal','Arambagh':'WestBengal','Channapatna':'Karnataka'}

In [5]:
df_events.state = df_events.state.fillna(df_events.city.map(dict_state))

In [6]:
df_events.isnull().sum()

event_id       0
device_id    453
timestamp      0
longitude    423
latitude     423
city           0
state          0
dtype: int64

In [127]:
df_events

,event_id,device_id,timestamp,longitude,latitude,city,state
0,1.0,2.918269e+16,2016-05-01 00:55:25,77.266049,28.681610,Delhi,Delhi
1,7104.0,2.918269e+16,2016-05-02 09:37:02,77.266049,28.681610,Delhi,Delhi
2,29661.0,2.918269e+16,2016-05-04 00:56:04,77.266049,28.681610,Delhi,Delhi
3,33133.0,2.918269e+16,2016-05-06 05:01:15,77.266049,28.681610,Delhi,Delhi
4,38980.0,2.918269e+16,2016-05-06 09:55:04,77.266049,28.681610,Delhi,Delhi
5,66398.0,2.918269e+16,2016-05-01 01:56:06,77.266049,28.681610,Delhi,Delhi
6,70894.0,2.918269e+16,2016-05-06 01:14:46,77.266049,28.681610,Delhi,Delhi
7,87185.0,2.918269e+16,2016-05-01 09:20:01,77.266049,28.681610,Delhi,Delhi
8,94644.0,2.918269e+16,2016-05-07 07:16:35,77.266049,28.681610,Delhi,Delhi
9,110018.0,2.918269e+16,2016-05-06 21:00:40,77.266049,28.681610,Delhi,Delhi
10,120190.0,2.918269e+16,2016-05-02 00:20:38,77.266049,28.681610,Delhi,Delhi
11,120191.0,2.918269e+16,2016-05-02 00:21:03,77.266049,28.681610,Delhi,Delhi
12,162735.0,2.918269e+16,2016-05-04 02:19:36,77.266049,28.681610,Delhi,Delhi
13,184478.0,2.918269e+16,2016-05-05 19:14:09,77.266049,28.681610,Delhi,Delhi
14,191673.0,2.918269e+16,2016-05-01 05:24:36,77.266049,28.681610,Delhi,Delhi
15,217601.0,2.918269e+16,2016-05-03 06:55:14,77.266049,28.681610,Delhi,Delhi
16,273512.0,2.918269e+16,2016-05-02 09:35:49,77.266049,28.681610,Delhi,Delhi
17,273615.0,2.918269e+16,2016-05-02 09:31:50,77.266049,28.681610,Delhi,Delhi
18,292765.0,2.918269e+16,2016-05-06 00:09:45,77.266049,28.681610,Delhi,Delhi
19,293807.0,2.918269e+16,2016-05-01 02:53:31,77.266049,28.681610,Delhi,Delhi
20,296013.0,2.918269e+16,2016-05-01 06:12:21,77.266049,28.681610,Delhi,Delhi
21,298586.0,2.918269e+16,2016-05-07 07:34:40,77.266049,28.681610,Delhi,Delhi
22,328924.0,2.918269e+16,2016-05-06 06:00:33,77.266049,28.681610,Delhi,Delhi
23,337996.0,2.918269e+16,2016-05-03 02:45:18,77.266049,28.681610,Delhi,Delhi
24,339549.0,2.918269e+16,2016-05-06 05:34:04,77.266049,28.681610,Delhi,Delhi
25,339629.0,2.918269e+16,2016-05-01 06:21:24,77.266049,28.681610,Delhi,Delhi
26,361483.0,2.918269e+16,2016-05-05 20:08:49,77.266049,28.681610,Delhi,Delhi
27,388598.0,2.918269e+16,2016-05-06 21:01:47,77.266049,28.681610,Delhi,Delhi
28,403384.0,2.918269e+16,2016-05-01 06:03:04,77.266049,28.681610,Delhi,Delhi
29,406579.0,2.918269e+16,2016-05-01 09:05:22,77.266049,28.681610,Delhi,Delhi
...,...,...,...,...,...,...,...
3252920,3185412.0,3.684012e+18,2016-05-04 14:32:23,72.973564,20.391824,Vapi,Gujarat
3252921,3188659.0,-2.929244e+18,2016-05-07 14:21:19,84.478914,26.546497,Gopalganj,Bihar
3252922,3190205.0,6.270548e+18,2016-05-07 22:30:13,72.528091,22.754102,Dholka,Gujarat
3252923,3192738.0,-4.552286e+18,2016-05-04 09:23:07,88.178279,22.568488,Ulubaria,WestBengal
3252924,3194163.0,1.519551e+18,2016-05-02 10:05:51,88.463089,23.024366,Halisahar,WestBengal
3252925,3197221.0,8.624282e+18,2016-05-06 11:07:08,76.296663,10.061612,Kalamassery,Kerala
3252926,3202154.0,8.224575e+18,2016-05-04 14:25:51,70.522858,21.802829,Dhoraji,Gujarat
3252927,3202794.0,-1.836957e+18,2016-05-06 14:04:03,85.552041,26.620517,Sitamarhi,Bihar
3252928,3203506.0,5.209191e+18,2016-05-01 18:59:01,84.525570,26.837827,Bettiah,Bihar
3252929,3205197.0,-6.913777e+18,2016-05-05 18:53:07,87.012312,25.352753,Bhagalpur,Bihar
3252930,3205275.0,4.001658e+18,2016-05-01 16:26:02,73.214795,22.409502,Vadodara,Gujarat
3252931,3211952.0,-5.129956e+18,2016-05-01 21:35:47,88.469114,22.940005,Bhatpara,WestBengal
3252932,3212891.0,-6.158788e+18,2016-05-05 21:16:01,75.851528,11.300452,Cheruvannur,Kerala
3252933,3213829.0,-3.914808e+18,2016-05-01 22:20:19,85.561063,26.665638,Sitamarhi,Bihar
3252934,3215808.0,4.923097e+18,2016-05-03 23:53:01,77.212813,12.671327,Channapatna,Karnataka
3252935,3225021.0,7.270157e+18,2016-05-01 07:35:56,87.396131,22.364742,Kharagpur,WestBengal
3252936,3226367.0,-8.840776e+18,2016-05-07 07:17:30,88.191465,22.491729,Ulubaria,WestBengal
3252937,3230874.0,8.033389e+18,2016-05-05 10:06:10,75.154594,16.549196,Rabkavi,Karnataka
3252938,3231141.0,6.107344e+18,2016-05-06 10:30:25,73.010574,21.785092,Bharuch,Gujarat
3252939,3233027.0,2.605490e+18,2016-05-07 11:04:27,88.464197,22.934016,Chandannagar,WestBengal
3252940,3234800.0,-5.614257e+17,2016-05-01 13:24:37,84.685537,25.656877,Arrah,Bihar
3252941,3236035.0,2.635835e+18,2016-05-06 13:51:35,88.475084,22.744762,Khardaha,WestBengal
3252942,3237493.0,1.272113e+18,2016-05-06 14:00:27,84.800163,25.843348,Chhapra,Bihar
3252943,3239465.0,1.650317e+18,2016-05-03 16:55:42,87.654803,25.629979,Katihar,Bihar
3252944,3240139.0,6.434571e+18,2016-05-06 16:44:23,76.271482,30.804870,Khanna,Punjab
3252945,3241600.0,6.057196e+18,2016-05-04 17:51:29,76.437031,14.328436,Chitradurga,Karnataka
3252946,3241929.0,8.855298e+18,2016-05-05 17:05:08,88.131884,24.551253,Jangipur,WestBengal
3252947,3242387.0,1.734091e+18,2016-05-07 17:17:27,86.538832,25.542353,Khagaria,Bihar
3252948,3248517.0,7.886185e+18,2016-05-04 21:35:09,88.428472,22.731814,Bally,WestBengal
3252949,3251669.0,-8.448990e+18,2016-05-02 23:34:42,72.140981,21.862590,Bhavnagar,Gujarat

In [126]:
Null_values=pd.isnull(df_events['device_id'])
df_events[Null_values]

,event_id,device_id,timestamp,longitude,latitude,city,state
23808,72957.0,NaN,2016-05-03 06:10:14,77.303153,28.728888,Delhi,Delhi
23820,78897.0,NaN,2016-05-02 11:25:47,77.303153,28.728888,Delhi,Delhi
23831,94768.0,NaN,2016-05-02 17:39:12,77.303153,28.728888,Delhi,Delhi
23852,127677.0,NaN,2016-05-01 10:06:53,77.303153,28.728888,Delhi,Delhi
24093,442470.0,NaN,2016-05-07 09:03:18,77.303153,28.728888,Delhi,Delhi
24102,454030.0,NaN,2016-05-01 15:50:10,77.303153,28.728888,Delhi,Delhi
24184,568538.0,NaN,2016-05-02 06:13:38,77.303153,28.728888,Delhi,Delhi
24284,678009.0,NaN,2016-05-02 13:29:10,77.303153,28.728888,Delhi,Delhi
24537,1050434.0,NaN,2016-05-03 20:06:02,77.303153,28.728888,Delhi,Delhi
24656,1224971.0,NaN,2016-05-07 10:19:24,77.303153,28.728888,Delhi,Delhi
24846,1499580.0,NaN,2016-05-02 00:41:13,77.303153,28.728888,Delhi,Delhi
24938,1605219.0,NaN,2016-05-02 11:47:22,77.303153,28.728888,Delhi,Delhi
25007,1712794.0,NaN,2016-05-06 10:39:30,77.303153,28.728888,Delhi,Delhi
25217,2045563.0,NaN,2016-05-05 07:43:20,77.303153,28.728888,Delhi,Delhi
25304,2175559.0,NaN,2016-05-02 06:10:34,77.303153,28.728888,Delhi,Delhi
25476,2409483.0,NaN,2016-05-06 18:31:03,77.303153,28.728888,Delhi,Delhi
25486,2448916.0,NaN,2016-05-03 10:05:41,77.303153,28.728888,Delhi,Delhi
25517,2498510.0,NaN,2016-05-04 08:36:43,77.303153,28.728888,Delhi,Delhi
25571,2565469.0,NaN,2016-05-03 21:35:29,77.303153,28.728888,Delhi,Delhi
25614,2625068.0,NaN,2016-05-01 21:30:55,77.303153,28.728888,Delhi,Delhi
25791,2861943.0,NaN,2016-05-04 19:52:48,77.303153,28.728888,Delhi,Delhi
25850,2940058.0,NaN,2016-05-02 11:25:17,77.303153,28.728888,Delhi,Delhi
25922,3044032.0,NaN,2016-05-05 05:36:05,77.303153,28.728888,Delhi,Delhi
239685,77676.0,NaN,2016-05-01 10:44:44,77.274814,28.721053,Delhi,Delhi
239697,101163.0,NaN,2016-05-02 19:53:45,77.274814,28.721053,Delhi,Delhi
239708,111770.0,NaN,2016-05-03 22:16:08,77.274814,28.721053,Delhi,Delhi
239729,139199.0,NaN,2016-05-01 09:36:28,77.274814,28.721053,Delhi,Delhi
239970,512745.0,NaN,2016-05-04 18:26:45,77.274814,28.721053,Delhi,Delhi
239979,521329.0,NaN,2016-05-07 16:33:24,77.274814,28.721053,Delhi,Delhi
240061,603000.0,NaN,2016-05-07 11:46:24,77.274814,28.721053,Delhi,Delhi
...,...,...,...,...,...,...,...
3080081,497214.0,NaN,2016-05-03 07:51:27,75.992551,31.561747,Hoshiarpur,Punjab
3080113,756233.0,NaN,2016-05-07 22:32:12,75.992551,31.561747,Hoshiarpur,Punjab
3080151,1064891.0,NaN,2016-05-02 13:31:44,75.992551,31.561747,Hoshiarpur,Punjab
3080163,1178005.0,NaN,2016-05-06 13:06:53,75.992551,31.561747,Hoshiarpur,Punjab
3080172,1252035.0,NaN,2016-05-03 12:35:33,75.992551,31.561747,Hoshiarpur,Punjab
3080198,1458419.0,NaN,2016-05-04 18:01:05,75.992551,31.561747,Hoshiarpur,Punjab
3080209,1565147.0,NaN,2016-05-07 21:13:53,75.992551,31.561747,Hoshiarpur,Punjab
3080231,1724313.0,NaN,2016-05-05 17:26:12,75.992551,31.561747,Hoshiarpur,Punjab
3080242,1787536.0,NaN,2016-05-04 22:19:21,75.992551,31.561747,Hoshiarpur,Punjab
3080286,2113651.0,NaN,2016-05-05 14:43:35,75.992551,31.561747,Hoshiarpur,Punjab
3080318,2331656.0,NaN,2016-05-02 13:10:22,75.992551,31.561747,Hoshiarpur,Punjab
3080386,2872799.0,NaN,2016-05-06 07:07:15,75.992551,31.561747,Hoshiarpur,Punjab
3080414,3088541.0,NaN,2016-05-02 04:59:16,75.992551,31.561747,Hoshiarpur,Punjab
3080439,3227383.0,NaN,2016-05-05 08:37:09,75.992551,31.561747,Hoshiarpur,Punjab
3098537,118826.0,NaN,2016-05-06 22:05:48,73.169345,21.194283,Bardoli,Gujarat
3098538,138984.0,NaN,2016-05-07 18:01:52,73.169345,21.194283,Bardoli,Gujarat
3098572,392107.0,NaN,2016-05-06 17:08:36,73.169345,21.194283,Bardoli,Gujarat
3098596,526238.0,NaN,2016-05-06 20:13:02,73.169345,21.194283,Bardoli,Gujarat
3098628,755589.0,NaN,2016-05-04 21:56:13,73.169345,21.194283,Bardoli,Gujarat
3098643,893484.0,NaN,2016-05-04 06:44:34,73.169345,21.194283,Bardoli,Gujarat
3098666,1089777.0,NaN,2016-05-01 13:25:15,73.169345,21.194283,Bardoli,Gujarat
3098678,1212101.0,NaN,2016-05-02 21:38:48,73.169345,21.194283,Bardoli,Gujarat
3098687,1351914.0,NaN,2016-05-05 22:11:11,73.169345,21.194283,Bardoli,Gujarat
3098713,1548218.0,NaN,2016-05-02 12:34:06,73.169345,21.194283,Bardoli,Gujarat
3098724,1621625.0,NaN,2016-05-02 21:48:46,73.169345,21.194283,Bardoli,Gujarat
3098746,1882296.0,NaN,2016-05-01 13:17:54,73.169345,21.194283,Bardoli,Gujarat
3098757,1952481.0,NaN,2016-05-05 00:53:42,73.169345,21.194283,Bardoli,Gujarat
3098801,2235564.0,NaN,2016-05-01 12:43:58,73.169345,21.194283,Bardoli,Gujarat
3098833,2452592.0,NaN,2016-05-02 13:34:20,73.169345,21.194283,Bardoli,Gujarat
3098901,3050759.0,NaN,2016-05-05 01:02:21,73.169345,21.194283,Bardoli,Gujarat

In [107]:
#df['device_id'] = df.apply(
   # lambda row: row['a']*row['b'] if np.isnan(row['c']) else row['c'],
    #axis=1
#)

#df_events.loc[df['device_id'] == some_value]
#df_events.loc[df_events.device_id.isnull(), 'device_id'] = df_events.loc[df_events.device_id.isnull(), 'longitude'].map(df_events.loc[df_events.device_id.notnull()] \
  #              .set_index('longitude')['device_id'])
    

#print(df_events[df_events.event_id==3035260.0])
#df_events.device_id.ffill()
#print(df_events[df_events.event_id==3035260.0])

#df.groupby('device_id').apply(lambda x: dict(zip(x['longitude'], x['latitude'])))

filtered=df_events.loc[df_events.device_id.isnull()]
filtered.drop(['timestamp','city','state'],axis=1)
latlonglist=[filtered.longitude,filtered.latitude]
mydict ={}
mydict=filtered.event_id,latlonglist

In [10]:
df_events['device_id'] = df_events.groupby(['longitude','latitude'])['device_id'].apply(lambda x:x.ffill().bfill())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000026C3C5ECBE0>

In [29]:
df_events_copy.isnull().sum()

event_id       0
device_id    453
timestamp      0
longitude    423
latitude     423
city           0
state        377
dtype: int64

In [31]:
df_events_copy.longitude.nunique()

60095

In [50]:
df_events_copy.latitude.nunique()

60185

In [33]:
df_events_copy.device_id.unique()

60865

In [58]:
#g = df_events_copy.groupby(['device_id','longitude','latitude']).unique()

df1 = df_events_copy[['device_id', 'longitude','latitude']]

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [61]:
print(df1.drop_duplicates())

            device_id  longitude   latitude
0        2.918269e+16  77.266049  28.681610
256     -4.833982e+18  77.269163  28.740454
504     -6.815121e+18  77.252120  28.733227
551     -5.373798e+18  77.258781  28.692571
1076     1.476665e+18  77.285609  28.740233
1158    -8.195817e+18  77.266562  28.688999
1206     6.130108e+18  77.227195  28.721711
1232    -1.663841e+18  77.276053  28.738097
1260    -6.672877e+18  77.247523  28.762185
1543    -2.668732e+18  77.262491  28.724857
2349     7.166564e+18  77.223522  28.688920
2510    -5.106447e+18  77.307044  28.743144
2769     1.682569e+18  77.241601  28.713861
3003    -2.305955e+18  77.255169  28.691594
3063    -3.449419e+18  77.254067  28.757587
3079    -6.542094e+18  77.266476  28.728023
3309    -5.638521e+18  77.233865  28.704975
3330    -2.107177e+18  77.307953  28.684051
3672    -4.713357e+18  77.304297  28.688501
3778    -7.733396e+18  77.242201  28.709314
3952     1.828364e+17  77.232204  28.694542
4608     8.975548e+18  77.269535  28.713287
4747    -8.051653e+17  77.226190  28.744504
4865    -4.047091e+18  77.286688  28.689397
4999    -7.868923e+18  77.307609  28.760393
5509     8.292388e+18  77.260842  28.740737
6157     3.129668e+18  77.233868  28.748104
6297     5.861096e+18  77.269556  28.746850
6425    -1.593861e+18  77.302783  28.693322
6444     8.177782e+18  77.278190  28.719822
...               ...        ...        ...
3252920  3.684012e+18  72.973564  20.391824
3252921 -2.929244e+18  84.478914  26.546497
3252922  6.270548e+18  72.528091  22.754102
3252923 -4.552286e+18  88.178279  22.568488
3252924  1.519551e+18  88.463089  23.024366
3252925  8.624282e+18  76.296663  10.061612
3252926  8.224575e+18  70.522858  21.802829
3252927 -1.836957e+18  85.552041  26.620517
3252928  5.209191e+18  84.525570  26.837827
3252929 -6.913777e+18  87.012312  25.352753
3252930  4.001658e+18  73.214795  22.409502
3252931 -5.129956e+18  88.469114  22.940005
3252932 -6.158788e+18  75.851528  11.300452
3252933 -3.914808e+18  85.561063  26.665638
3252934  4.923097e+18  77.212813  12.671327
3252935  7.270157e+18  87.396131  22.364742
3252936 -8.840776e+18  88.191465  22.491729
3252937  8.033389e+18  75.154594  16.549196
3252938  6.107344e+18  73.010574  21.785092
3252939  2.605490e+18  88.464197  22.934016
3252940 -5.614257e+17  84.685537  25.656877
3252941  2.635835e+18  88.475084  22.744762
3252942  1.272113e+18  84.800163  25.843348
3252943  1.650317e+18  87.654803  25.629979
3252944  6.434571e+18  76.271482  30.804870
3252945  6.057196e+18  76.437031  14.328436
3252946  8.855298e+18  88.131884  24.551253
3252947  1.734091e+18  86.538832  25.542353
3252948  7.886185e+18  88.428472  22.731814
3252949 -8.448990e+18  72.140981  21.862590

[60928 rows x 3 columns]

In [60]:
df2=df1.groupby(['longitude','latitude'])['device_id'].unique()

In [24]:
df_events_copy['device_id'] = df_events_copy.groupby(['longitude','latitude'])

['device_id'].apply(lambda x:x.ffill().bfill())

In [27]:
Null_values=pd.isnull(df_events_copy['longitude'])
df_events_copy[Null_values]

,event_id,device_id,timestamp,longitude,latitude,city,state
78116,53343.0,NaN,2016-05-02 18:13:55,NaN,NaN,Delhi,Delhi
78331,295454.0,NaN,2016-05-03 05:35:43,NaN,NaN,Delhi,Delhi
78597,594751.0,NaN,2016-05-03 05:29:07,NaN,NaN,Delhi,Delhi
78848,892922.0,NaN,2016-05-06 05:56:01,NaN,NaN,Delhi,Delhi
79022,1081858.0,NaN,2016-05-02 07:22:47,NaN,NaN,Delhi,Delhi
79037,1095551.0,NaN,2016-05-01 17:32:02,NaN,NaN,Delhi,Delhi
79125,1192755.0,NaN,2016-05-01 02:46:46,NaN,NaN,Delhi,Delhi
79578,1660619.0,NaN,2016-05-06 03:51:18,NaN,NaN,Delhi,Delhi
79984,2098408.0,NaN,2016-05-06 15:48:17,NaN,NaN,Delhi,Delhi
79989,2110881.0,NaN,2016-05-04 12:50:07,NaN,NaN,Delhi,Delhi
80004,2135823.0,NaN,2016-05-06 22:41:34,NaN,NaN,Delhi,Delhi
80014,2142695.0,NaN,2016-05-03 06:05:07,NaN,NaN,Delhi,Delhi
80278,2467547.0,NaN,2016-05-05 00:09:42,NaN,NaN,Delhi,Delhi
80292,2481118.0,NaN,2016-05-02 15:12:49,NaN,NaN,Delhi,Delhi
80314,2501214.0,NaN,2016-05-03 10:18:49,NaN,NaN,Delhi,Delhi
80319,2505314.0,NaN,2016-05-03 03:32:06,NaN,NaN,Delhi,Delhi
80442,2641364.0,NaN,2016-05-02 06:56:59,NaN,NaN,Delhi,Delhi
80490,2703450.0,NaN,2016-05-06 15:53:47,NaN,NaN,Delhi,Delhi
80536,2766456.0,NaN,2016-05-04 23:27:35,NaN,NaN,Delhi,Delhi
80543,2769989.0,NaN,2016-05-05 05:18:25,NaN,NaN,Delhi,Delhi
80625,2869070.0,NaN,2016-05-01 02:35:12,NaN,NaN,Delhi,Delhi
97402,72290.0,NaN,2016-05-04 05:30:31,NaN,NaN,Delhi,Delhi
97617,329101.0,NaN,2016-05-01 07:41:51,NaN,NaN,Delhi,Delhi
97883,654452.0,NaN,2016-05-01 07:21:53,NaN,NaN,Delhi,Delhi
98134,966823.0,NaN,2016-05-07 18:51:38,NaN,NaN,Delhi,Delhi
98308,1166079.0,NaN,2016-05-04 00:22:57,NaN,NaN,Delhi,Delhi
98323,1173648.0,NaN,2016-05-07 09:07:02,NaN,NaN,Delhi,Delhi
98411,1277510.0,NaN,2016-05-07 08:59:30,NaN,NaN,Delhi,Delhi
98864,1823315.0,NaN,2016-05-07 09:51:04,NaN,NaN,Delhi,Delhi
99270,2303485.0,NaN,2016-05-02 01:40:34,NaN,NaN,Delhi,Delhi
...,...,...,...,...,...,...,...
3011875,3220675.0,NaN,2016-05-07 00:21:49,NaN,NaN,Moga,Punjab
3011881,3244839.0,NaN,2016-05-03 19:31:46,NaN,NaN,Moga,Punjab
3023134,570151.0,NaN,2016-05-04 07:29:30,NaN,NaN,Araria,Bihar
3023168,812975.0,NaN,2016-05-02 10:36:18,NaN,NaN,Araria,Bihar
3023190,947811.0,NaN,2016-05-01 07:55:19,NaN,NaN,Araria,Bihar
3023294,1579192.0,NaN,2016-05-02 12:41:16,NaN,NaN,Araria,Bihar
3023319,1716552.0,NaN,2016-05-07 12:28:22,NaN,NaN,Araria,Bihar
3023321,1729997.0,NaN,2016-05-06 20:32:40,NaN,NaN,Araria,Bihar
3023341,1837824.0,NaN,2016-05-01 21:50:41,NaN,NaN,Araria,Bihar
3023372,2078331.0,NaN,2016-05-02 10:26:34,NaN,NaN,Araria,Bihar
3023382,2171000.0,NaN,2016-05-01 23:02:17,NaN,NaN,Araria,Bihar
3023467,2779303.0,NaN,2016-05-02 13:01:31,NaN,NaN,Araria,Bihar
3023479,2828327.0,NaN,2016-05-02 12:37:17,NaN,NaN,Araria,Bihar
3023499,2998755.0,NaN,2016-05-02 13:32:47,NaN,NaN,Araria,Bihar
3023505,3052608.0,NaN,2016-05-02 09:19:11,NaN,NaN,Araria,Bihar
3023514,3079282.0,NaN,2016-05-01 22:33:16,NaN,NaN,Araria,Bihar
3025040,470684.0,NaN,2016-05-02 20:51:13,NaN,NaN,Bagaha,Bihar
3025139,1105481.0,NaN,2016-05-04 23:21:25,NaN,NaN,Bagaha,Bihar
3025158,1237993.0,NaN,2016-05-02 20:08:24,NaN,NaN,Bagaha,Bihar
3025206,1517868.0,NaN,2016-05-05 00:16:02,NaN,NaN,Bagaha,Bihar
3025251,1788655.0,NaN,2016-05-02 23:38:30,NaN,NaN,Bagaha,Bihar
3025256,1840867.0,NaN,2016-05-02 23:53:24,NaN,NaN,Bagaha,Bihar
3025276,1952050.0,NaN,2016-05-02 23:49:31,NaN,NaN,Bagaha,Bihar
3025296,2070981.0,NaN,2016-05-05 01:40:49,NaN,NaN,Bagaha,Bihar
3025423,2788384.0,NaN,2016-05-05 20:31:07,NaN,NaN,Bagaha,Bihar
3025458,3014889.0,NaN,2016-05-05 21:24:10,NaN,NaN,Bagaha,Bihar
3025460,3024797.0,NaN,2016-05-02 23:00:00,NaN,NaN,Bagaha,Bihar
3025483,3123229.0,NaN,2016-05-04 20:56:32,NaN,NaN,Bagaha,Bihar
3025508,3212639.0,NaN,2016-05-04 21:11:01,NaN,NaN,Bagaha,Bihar
3025513,3219204.0,NaN,2016-05-05 23:30:21,NaN,NaN,Bagaha,Bihar

In [20]:
dict = {'First Score':[np.nan,1,np.nan,2,np.nan,np.nan,2,0,0],
        'Second Score': [1, 1, 1,2,2,2,2,2,1], 
        'Third Score':[10, 10,10,20,20,20,4,2,2]}
  
# creating a dataframe from list 
df = pd.DataFrame(dict)

In [21]:
df['First Score']=df.groupby(['Third Score','Second Score'])['First Score'].apply(lambda x:x.ffill().bfill())
df

   First Score  Second Score  Third Score
0          1.0             1           10
1          1.0             1           10
2          1.0             1           10
3          2.0             2           20
4          2.0             2           20
5          2.0             2           20
6          2.0             2            4
7          0.0             2            2
8          0.0             1            2

In [111]:

df_events.isnull().sum()

event_id       0
device_id    423
timestamp      0
longitude    423
latitude     423
city           0
state          0
dtype: int64

In [11]:
df_events.isnull().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

In [12]:
df_events.isna().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64